/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/cover.jpg');
  // background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  // overflow:hidden;
}

.header {
  color: black;
  font-size: 27px;
  padding: 10px;
}

.form-container {
  font-weight: bold;
  position: fixed;
  top: 5%;
}

.form-container2 {
  font-weight: bold;
  position: absolute;
  top: 1%;
}
.contactForm {
  min-width: 150px;
  width: 100%;

}

.full-width {
  width: 75%;
}

.card {
  max-width: 30%;
  text-align: center;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.card2 {
  max-width: 90%;
  // width: 1000px;
  text-align: center;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.contactForm2 {
  min-width: 150px;
  width: 100%;

}

.full-width2 {
  width: 30%;
  padding-left: 10px;
}

table {
  width: 100%;
}

.td {
  width: 2%;
  text-align: left;
}
.th {
  width: 2%;
  text-align: left;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.logo{
  width: 20%;
  height: 20%;
  margin-right: 0;
}

.red-snackbar{
  background-color: rgb(153, 50, 50);
  color:white;
}

.green-snackbar{
  background-color: rgb(10, 175, 98);
  color:white;
}